* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  margin: 0;

  font-family: 'SF Pro Display', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: medium;
  line-height: 28px;
  letter-spacing: 0;
}
