.phone-container {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
}

.phone-image {
  width: auto;
  width: 365.5px;
  height: 100%;
  max-height: 760px;

  object-fit: contain;
}

.overlay {
  pointer-events: none;
  position: absolute;
}

.overlay-sign {
  bottom: 17%;
  left: 4%;
  width: 217px;
}

.overlay-stamp {
  right: 6%;
  bottom: 31%;
  width: 216px;
}

.paper {
  pointer-events: none;
  position: absolute;
  width: 273px;
  height: 386px;
}

.paper-back {
  z-index: 1;
}

.paper-middle {
  z-index: 2;
}

.paper-front {
  z-index: 3;
}

.side-slider {
  pointer-events: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: 80%;
}

.brightness-slider {
  top: 58%;
  right: 78%;
  width: 42px;
  height: 359px;
}

.contrast-slider {
  top: 58%;
  left: 77%;
  width: 42px;
  height: 359px;
}

.export-icon {
  pointer-events: none;
  position: absolute;
  bottom: -6%;
}

.export-arrow {
  top: 80%;
  left: 15%;
}

.export-pdf {
  top: 58%;
  left: 15%;
}

.export-txt {
  top: 58%;
  left: 60%;
}

.export-jpg {
  top: 56%;
  right: 40%;
}

@media (width <= 1024px) {
  .phone-image {
    max-height: 520px;
  }
}

@media (width <= 768px) {
  .phone-image {
    max-height: 420px;
  }

  .export-icon {
    transform: scale(0.9);
  }

  .overlay-sign {
    bottom: 10%;
    left: 4%;
    width: 142px;
  }

  .overlay-stamp {
    right: 4%;
    bottom: 22%;
    width: 142px;
  }

  .paper {
    pointer-events: none;
    position: absolute;
    width: 193px;
    height: 273px;
  }

  .contrast-slider {
    top: 63%;
    left: 77%;
    width: 28px;
    height: 240px;
  }

  .brightness-slider {
    top: 63%;
    right: 78%;
    width: 28px;
    height: 240px;
  }

  .export-pdf {
    top: 70%;
    left: 16%;
    width: 72px;
    height: 86px;
  }

  .export-txt,
  .export-jpg {
    width: 71px;
    height: 86px;
  }

  .export-arrow {
    top: 85%;
    left: 11%;
  }

  .export-txt {
    top: 70%;
    left: 65%;
  }

  .export-jpg {
    top: 65%;
    right: 41%;
  }
}
